.popup__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 54px;
    padding-top: 34px;
    padding-left: 36px;
    margin: 0;
}

@media (max-width:768px){
    .popup__title{
    padding-bottom: 75px;
    padding-top: 25px;
    padding-left: 22px;
    }
}