.card__like-button_active{
    width: 22px;
    height: 19px;
    background-image: url(../../../../images/like-active.svg);
    background-repeat: no-repeat;
    background-color: unset;
    background-position: center;
    border: 0;
    box-sizing: border-box;
}